.postContainer {
  width: 100%;
  padding-top: 5rem;
  background: var(--bg-color);
  color: var(--text-color);
  padding-left: 1%;
  padding-bottom: 2rem;
}

.postContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 15%;

  > section {
    h2 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 2rem;
      line-height: 1.5rem;
      padding-bottom: 2rem;
      border-bottom: 8px solid var(--primary-color);
    }
  }

  > div {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.storeLinks {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  
  nav {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    
    a {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
      padding: 1rem;
      background: var(--bg-shape);
      font-weight: 500;
      transition: all 0.2s;

      svg {
        font-size: 2.2rem;
        margin-right: 1rem;
        transition: all 0.2s;
      }

      &:hover {
        filter: brightness(1.07);

        svg {
          color: var(--primary-color);
        }
      }
    }
  }
}

.subscriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  svg {
    font-size: 6rem;
    margin-right: 2rem;
    color: var(--primary-color);
  }

  p {
    max-width: 45%;
    font-size: 1.2rem;
    font-weight: 600;

    > span {
      color: var(--primary-color);
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  > button {
    margin-left: 3rem;
  }
}
