.dashboardContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 0 15%;

  @media (max-width: 1368px) {
    padding: 0 5%;
  }

  @media (max-width: 1080px) {
    padding: 0 2%;
  }
}

.dashboardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 55%;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h1 {
    font-size: 3.2rem;
    font-weight: 900;
    text-align: right;

    span {
      color: var(--primary-color);
    }
  }

  p {
    font-size: 1.4rem;
    width: 65%;
    margin: 2rem 0;
    text-align: right;

    span {
      font-weight: 600;
      color: var(--primary-color);
    }
  }

  div {
    button {
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}
