.dashboardContainer {
  margin-top: -2rem;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 55%;
  }
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  h1 {
    font-size: 3.2rem;
    font-weight: 900;
    text-align: right;

    span {
      color: var(--primary-color);
    }
  }

  p {
    font-size: 1.4rem;
    width: 60%;
    margin: 2rem 0;
    text-align: right;

    span {
      font-weight: 600;
      color: var(--primary-color);
    }
  }

  div {
    button {
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}