.signInButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border: none;
  padding: 1rem 2rem;
  background: var(--input-body);
  color: var(--text-color);
  transition: filter 0.2s;

  border-top-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;

  &:hover {
    filter: brightness(1.2);
  }

  svg {
    width: 20px;
    height: 20px;

    &:first-child {
      margin-right: 1rem;
    }
  }
}