.signInButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border: none;
  padding: 1rem 2rem;
  background: none;
  color: var(--text-color);
  font-weight: 500;
  transition: all 0.2s;
  overflow: hidden;

  &:hover {
    span {
      &::after {
        bottom: -0.2rem;
        right: -120%;
        animation: normal 0.5s lineAnimation;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;

    &:first-child {
      margin-right: 1rem;
    }
  }

  span {
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: var(--text-color);
      position: absolute;
      bottom: -0.2rem;
      right: 0;
      margin-top: 0.2rem;
    }
  }

  @keyframes lineAnimation {
    from {
      bottom: -0.2rem;
      right: 0;
    }
  
    to {
      bottom: -0.2rem;
      right: -120%;
    }
  }
}