.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  border-bottom: 1px solid var(--bg-shape);
}

.headerContent {
  max-width: 80vw;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      font-weight: 500;
      color: var(--text-shape);
      transition: color 0.2s;
      overflow: hidden;

      &:hover {
        color: var(--text-color);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 4px;
        background: var(--primary-color);
        transition: transform 0.5s;
      }

      &.active::after {
        transform: translateX(100%);
      }
    }
  }

  > button {
    margin-left: auto;
  }

  div {
    &:last-child {
      margin-left: auto;
    }
  }

  @media (max-width: 1368px) {
    max-width: 90vw;
  }

  @media (max-width: 1080px) {
    max-width: 95vw;
  }
}

.brandContainer {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    margin-right: 0.5rem;

    & + img {
      width: 140px;
    }
  }
}