.headerContainer {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  border-bottom: 1px solid var(--bg-shape);
  background: var(--bg-color);
  color: var(--text-color);
}

.headerContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;

  @media (max-width: 1368px) {
    padding: 0 5%;
  }

  @media (max-width: 1080px) {
    padding: 0 2%;
  }

  nav {
    display: flex;
    margin-left: 5rem;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 0.5rem;
      height: 100%;
      font-weight: 500;
      color: var(--text-shape);
      transition: color 0.2s;
      overflow: hidden;

      &:hover {
        color: var(--text-color);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 4px;
        background: var(--primary-color);
        transition: transform 0.5s;
      }

      &.active::after {
        transform: translateX(100%);
      }
    }
  }

  > button {
    margin-left: auto;
  }

  div {
    &:last-child {
      margin-left: auto;
    }
  }
}

.brandContainer {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    margin-right: 0.5rem;

    & + img {
      width: 130px;
    }
  }
}